* {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
ruby,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  max-width: 1920px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

a:hover {
  cursor: pointer;
}

input,
select {
  vertical-align: middle;
}

.header {
  display: inline-block;
  padding-top: 52.08%;
  max-width: 1920px;
  width: 100%;
  height: 0;
  position: relative;
  background-image: url(../img/mainvisual_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__icon {
  position: absolute;
  top: 0;
  left: 42.42%;
  z-index: 3;
}

.header__inner {
  display: flex;
  max-width: 998px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 24.43%;
  justify-content: space-between;
  z-index: 5;
}

.header__company__name {
  margin-top: 47px;
  max-width: 280px;
  width: 100%;
  color: #fff;
}
.header__company__name .header__name__main {
  font-size: 0.875rem;
  letter-spacing: 0.075em;
}
.header__company__name .header__name__main span {
  font-size: 1.125rem;
  letter-spacing: 0.075em;
}
.header__company__name .header__name__sub {
  font-size: 1.125rem;
  letter-spacing: 0.075em;
}

.header__company__contact {
  display: flex;
  color: #fff;
  justify-content: flex-end;
}

.header__company__tel {
  margin-top: 32px;
  font-size: 1.5rem;
}
.header__company__tel__first {
  font-size: 1rem;
}

.contact__btn {
  margin-top: 34px;
  margin-right: 0;
}
.contact__btn a {
  margin-left: 27px;
  padding: 14px 43px;
  color: #fff;
  background-color: #d1c61a;
}

.header__company__nav__list {
  display: flex;
  margin-top: 32px;
  column-gap: 20px;
}

.header__company__nav__item a {
  font-size: 0.9375rem;
  color: #fff;
  letter-spacing: 0.075em;
}
.header__company__nav__item a:hover {
  text-decoration: underline 2px #24386a;
  text-underline-offset: 8px;
}

.mainvisual {
  position: relative;
}

.mainvisual__line__one {
  max-width: 1820px;
  width: 5.49%;
  height: 5.815%;
  position: absolute;
  top: 17%;
  left: -5.49%;
  background-color: #80e04e;
  border: 1px solid #000;
}

.mainvisual__line__two {
  max-width: 1820px;
  width: 19.78%;
  height: 7%;
  position: absolute;
  top: 8.55%;
  left: 0;
  background-color: #80e04e;
  border: 1px solid #000;
}

.mainvisual__line__three {
  max-width: 1820px;
  width: 27.47%;
  height: 4.72%;
  position: absolute;
  top: 19.25%;
  left: 19.78%;
  background-color: #80e04e;
  border: 1px solid #000;
}

.mainvisual__line__four {
  max-width: 1820px;
  width: 27.47%;
  height: 10.6%;
  position: absolute;
  top: 28.35%;
  left: 47.25%;
  background-color: #80e04e;
  border: 1px solid #000;
}

.mainvisual__line__five {
  max-width: 1820px;
  width: 19.78%;
  height: 10.3%;
  position: absolute;
  top: 22.35%;
  left: 74.72%;
  background-color: #80e04e;
  border: 1px solid #000;
}

.mainvisual__line__six {
  max-width: 1820px;
  width: 5.49%;
  height: 4.9%;
  position: absolute;
  top: 17.25%;
  left: 94.5%;
  background-color: #80e04e;
  border: 1px solid #000;
}

.mainvisual__line__seven {
  display: block;
  width: 7.64%;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 10.16%;
  background-color: #d1c61a;
  border: 1px solid #000;
}

.mainvisual {
  max-width: 1820px;
  position: absolute;
  top: 0;
  left: 5.2%;
  align-items: center;
}

.mainvisual__img {
  max-width: 1820px;
  width: 100%;
  height: 53.125rem;
  z-index: -2;
}

.mainvisual__text__img {
  position: absolute;
  top: 29.1%;
  left: 19.38%;
  max-width: 470px;
  width: 100%;
}

.about {
  max-width: 1920px;
  width: 100%;
  position: relative;
  padding-top: 7.61%;
  padding-left: 23.96%;
}
.about__title {
  margin-bottom: 1%;
  font-size: 1.125rem;
  color: #24386a;
}
.about__text__one {
  margin-bottom: 1%;
  font-size: 1.75rem;
}
.about__text__two {
  margin-bottom: 1%;
}

.about__inner {
  display: flex;
}

.about__img__area {
  max-width: 800px;
  max-height: 600px;
  margin-top: -15%;
  margin-left: 5.99%;
  margin-bottom: 130px;
}

.products {
  max-width: 1920px;
  width: 100%;
  margin-bottom: 8px;
  background-image: url(../img/products_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: -9px;
}

.products__title {
  padding-top: 119px;
  text-align: center;
}
.products__title__main {
  font-size: 4.0625rem;
  letter-spacing: 0.075em;
  line-height: 1.3;
  background: linear-gradient(#24386a 50%, #000 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.products__title__sub {
  margin-top: 22px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
}
.products__title .products__text {
  margin-top: 63px;
}

.products__flexbox {
  padding-bottom: 100px;
}
.products__flexbox .prodcuts__list {
  display: flex;
  margin-top: 64px;
  justify-content: center;
  column-gap: 52px;
}
.products__flexbox .products__item img {
  vertical-align: bottom;
}
.products__flexbox .products__item__text {
  display: block;
  max-width: 300px;
  width: 100%;
  margin-top: 21px;
  text-align: center;
}
.products__flexbox .products__btn {
  display: flex;
  width: 280px;
  height: 70px;
  margin: 92px auto 0;
  color: #fff;
  background-color: #24386a;
  justify-content: center;
  align-items: center;
  position: relative;
}
.products__flexbox .products__btn img {
  width: 30.34px;
  height: 8.69px;
  position: absolute;
  right: 30px;
}

.facility {
  padding-bottom: 100px;
  background-color: #24356a;
  position: relative;
}

.facility__inner {
  display: flex;
  width: 94.79%;
  background-color: #eceff7;
}

.facility__img {
  margin-top: 100px;
}
.facility__img img {
  width: 100%;
  vertical-align: top;
}

.facility__title {
  margin-top: 188px;
  margin-left: 132px;
  text-align: start;
}
.facility__title__main {
  font-size: 4.0625rem;
  letter-spacing: 0.075em;
  line-height: 1;
  background: linear-gradient(#24386a 50%, #000 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.facility__title__sub {
  margin-top: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  line-height: 1;
}
.facility__title .facility__text {
  margin-top: 38px;
  letter-spacing: 0.075em;
  line-height: 2.063;
}

.facility__btn {
  display: flex;
  width: 280px;
  height: 70px;
  margin-top: 102px;
  margin-bottom: 119px;
  color: #fff;
  background-color: #24386a;
  justify-content: center;
  align-items: center;
  position: relative;
}
.facility__btn img {
  width: 30.34px;
  height: 8.69px;
  position: absolute;
  right: 30px;
}

.facility__line__one {
  width: 5.47%;
  height: 12.5%;
  position: absolute;
  left: 34.12%;
  background-color: #80e04e;
  border: 1px solid #000;
}

.facility__line__two {
  width: 4.17%;
  height: 12.5%;
  position: absolute;
  top: 87.5%;
  left: 41.76%;
  background-color: #80e04e;
  border: 1px solid #000;
}

.recruit {
  width: 100%;
  height: 31.25%;
  background-image: url(../img/recruit.png);
  background-position: center;
  background-size: cover;
  vertical-align: bottom;
  position: relative;
}

.recruit__inner {
  display: flex;
  padding-bottom: 142px;
}
.recruit__inner .recruit__title {
  margin-top: 215px;
  margin-left: 23.65%;
}
.recruit__inner .recruit__title__main {
  color: #fff;
  font-size: 5.625rem;
  line-height: 1em;
  letter-spacing: 0.075em;
}
.recruit__inner .recruit__btn {
  display: flex;
  width: 280px;
  height: 70px;
  margin-top: 75px;
  color: #fff;
  background-color: #24386a;
  justify-content: center;
  align-items: center;
  position: relative;
}
.recruit__inner .recruit__btn img {
  width: 30.34px;
  height: 8.69px;
  position: absolute;
  right: 30px;
}
.recruit__inner__textarea {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin-top: 127px;
  margin-left: 17.6%;
  color: #fff;
  font-size: 3rem;
  line-height: 1.67em;
  letter-spacing: 0.15em;
}

.recruit__text {
  color: #24386a;
  font-size: 150px;
  font-weight: bold;
  position: absolute;
  right: -12px;
  bottom: -15px;
  line-height: 1;
  letter-spacing: 0.075em;
  opacity: 0.6;
}

.info {
  display: flex;
  max-width: 1920px;
  max-height: 700px;
  height: 100vh;
  margin-top: 130px;
  margin-left: 23.96%;
  margin-right: 23.96%;
  column-gap: 130px;
}
.info__inner {
  display: flex;
  align-items: center;
  position: relative;
}

.info__company {
  display: flex;
  max-width: 470px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  background-color: #eceff7;
  justify-content: center;
  align-items: center;
  position: relative;
}
.info__company__textarea {
  color: #24386a;
  margin-left: 27px;
}
.info__company__logo {
  font-size: 2.375rem;
  letter-spacing: 0.05em;
  line-height: 1;
}
.info__company__text {
  margin-top: 13px;
  letter-spacing: 0.1em;
}

.info__company__btn {
  display: block;
  position: absolute;
  right: 10px;
  bottom: -10px;
}

.info__service {
  display: flex;
  max-width: 470px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  background-color: #eceff7;
  justify-content: center;
  align-items: center;
  position: relative;
}
.info__service__textarea {
  color: #24386a;
  margin-left: 27px;
}
.info__service__logo {
  font-size: 2.375rem;
  letter-spacing: 0.05em;
  line-height: 1;
}
.info__service__text {
  margin-top: 13px;
  letter-spacing: 0.1em;
}

.info__service__btn {
  display: block;
  position: absolute;
  right: 10px;
  bottom: -10px;
}

.contact {
  max-width: 1920px;
  width: 100%;
  height: 79.69%;
  position: relative;
  z-index: 10;
}
.contact__inner {
  display: flex;
  max-width: 1720px;
  width: 89.58%;
  height: 45.16vh;
  margin: 0 5.21%;
  background-color: #24386a;
  position: absolute;
  top: -270px;
  justify-content: center;
  align-items: center;
  column-gap: 211px;
}

.contact__title__main {
  color: #fff;
  font-size: 3.75rem;
}

.contact__text {
  margin-top: 55px;
  color: #fff;
  line-height: 1.875em;
  letter-spacing: 0.075em;
}

.contact__info__tel {
  display: flex;
  align-items: baseline;
}
.contact__info__tel p {
  margin-left: 7px;
  font-size: 2.5rem;
  color: #fff;
}

.contact__mail {
  display: block;
  width: 360px;
  height: 80px;
  margin-top: 52px;
  background-color: #d1c61a;
}
.contact__mail a {
  color: #fff;
}
.contact__mail .contact__info__mail {
  display: flex;
  width: 360px;
  height: 80px;
  margin-top: 52px;
  justify-content: center;
  align-items: center;
}
.contact__mail .contact__info__mail .contact__mail__logo {
  display: flex;
  align-items: center;
}
.contact__mail .contact__info__mail p {
  margin-left: 19px;
  color: #fff;
  letter-spacing: 0.1em;
}

.footer {
  position: relative;
  background-color: #eceff7;
  z-index: 5;
}
.footer__inner {
  display: flex;
  padding-top: 283px;
  justify-content: center;
  column-gap: 368px;
}
.footer__inner .footer__company__name {
  color: #262626;
}
.footer__inner .footer__company__name .footer__name__main {
  font-size: 1.125rem;
  letter-spacing: 0.075em;
}
.footer__inner .footer__company__name .footer__name__main span {
  font-size: 1.5rem;
  letter-spacing: 0.075em;
}
.footer__inner .footer__company__name .footer__name__sub {
  margin-top: 11px;
  font-size: 1.125rem;
  letter-spacing: 0.075em;
}
.footer__inner .footer__company__address {
  margin-top: 31px;
  font-size: 0.8125rem;
  line-height: 1.538em;
  letter-spacing: 0.075em;
}
.footer__inner .footer__nav {
  display: flex;
  font-size: 0.875rem;
  font-weight: bold;
  column-gap: 39px;
}
.footer__inner .footer__nav__first .footer__nav__company {
  margin-top: 5px;
  line-height: 1em;
}
.footer__inner .footer__nav__first .footer__nav__service {
  margin-top: 25px;
  line-height: 1em;
}
.footer__inner .footer__nav__first .footer__nav__products {
  margin-top: 25px;
  line-height: 1em;
}
.footer__inner .footer__nav__second .footer__nav__facility {
  margin-top: 5px;
  line-height: 1em;
}
.footer__inner .footer__nav__second .footer__nav__recruit {
  margin-top: 25px;
  line-height: 1em;
}
.footer__inner .footer__nav__second .footer__nav__contact {
  margin-top: 25px;
  line-height: 1em;
}
.footer__inner .footer__nav span {
  display: block;
  width: 1px;
  height: 100px;
  background-color: #d4dae9;
}
.footer__inner .footer__nav a {
  color: #262626;
}
.footer .footer__copy {
  font-size: 0.75rem;
  text-align: center;
  padding-top: 88px;
  padding-bottom: 40px;
}

.top__button {
  max-width: 1920px;
  width: 100%;
  margin-left: 91.67%;
  margin-right: 5.21%;
}

.pagetop {
  max-width: 1920px;
  position: fixed;
  bottom: -2px;
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.pagetop__arrow {
  display: block;
  height: 60px;
  width: 60px;
}

/*# sourceMappingURL=style.css.map */
