.facility {
  height: 90vh;
  background-color: #24356a;
  }
.facility__inner {
  display: flex;
  width: 94.79%;
  background-color: #eceff7;
}
.facility__img {
  margin-top: 100px;
  & img {
    max-width: 900px;
    width: 100%;
    // max-height: 600px;
    height: 100%;
    vertical-align: bottom;
    }
  }
.facility__title {
    margin-top: 205px;
    margin-left: 132px;
    text-align: start;
  &__main {
    font-size: 4.0625rem;
    letter-spacing: 0.075em;
    line-height: 1.3;
    background: linear-gradient(#24386a 50%, #000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // white_space:nowrap;
    }
  &__sub {
    margin-top: 18px;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    }
  .facility__text {
    margin-top: 63px;
    letter-spacing: 0.075em;
    line-height: 2.63;
  }
}
  .facility__btn {
    display: flex;
    width: 280px;
    height: 70px;
    margin-top: 119px;
    margin-bottom: 136px;
    color: #fff;
    background-color: #24386a;
    justify-content: center;
    align-items: center;
    position: relative;
    // &__text {

    //   }
    & img {
      width: 30.34px;
      height: 8.69px;
      position: absolute;
      right: 30px;
      }
    }
    .facility__line__one {
    max-width: 1820px;
    width: 5.77%;
    height: 10%;
    position: absolute;
    // top: 1%;
    left: 34.12%;
    background-color: #80e04e;
    border: 1px solid #000;
  }
  .facility__line__two {
    max-width: 1820px;
    width: 4.4%;
    height: 7%;
    position: absolute;
    // top: 8.55%;
    left: 41.76%;
    background-color: #80e04e;
    border: 1px solid #000;
  }