.facility {
  background-color: #24356a;
  position: relative;
  }
.facility__inner {
  display: flex;
  width: 94.79%;
  background-color: #eceff7;
}
.facility__img {
  margin-top: 100px;
  & img {
    width: 49.45%;
    vertical-align: top;
    }
  }
.facility__title {
    margin-top: 188px;
    margin-left: 132px;
    text-align: start;
  &__main {
    font-size: 4.0625rem;
    letter-spacing: 0.075em;
    line-height: 1;
    background: linear-gradient(#24386a 50%, #000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  &__sub {
    margin-top: 18px;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    line-height: 1;
    }
  .facility__text {
    margin-top: 38px;
    letter-spacing: 0.075em;
    line-height: 2.063;
  }
}
  .facility__btn {
    display: flex;
    width: 280px;
    height: 70px;
    margin-top: 102px;
    margin-bottom: 119px;
    color: #fff;
    background-color: #24386a;
    justify-content: center;
    align-items: center;
    position: relative;
    & img {
      width: 30.34px;
      height: 8.69px;
      position: absolute;
      right: 30px;
      }
    }
    .facility__line__one {
    width: 5.47%;
    // max-height: 100px;
    // height: 100%;
    height: 12.5%;
    position: absolute;
    left: 34.12%;
    background-color: #80e04e;
    border: 1px solid #000;
  }
  .facility__line__two {
    width: 4.17%;
    height: 12.5%;
    position: absolute;
    left: 41.76%;
    background-color: #80e04e;
    border: 1px solid #000;
  }