.footer {
  &__inner{
    display: flex;
    padding-top: 283px;
    justify-content: center;
    column-gap: 368px;
    .footer__company__name {
      color: #262626;
      .footer__name__main {
        font-size: 1.125rem;
        letter-spacing: 0.075em;
        & span {
          font-size: 1.5rem;
          letter-spacing: 0.075em;
        }
      }
      .footer__name__sub {
        margin-top: 11px;
        font-size: 1.125rem;
        letter-spacing: 0.075em;
      }
    }
    .footer__company__address {
      margin-top: 31px;
      font-size: 0.8125rem;
      line-height: 1.538em;
      letter-spacing: 0.075em;
    }
    .footer__nav {
      display: flex;
      font-size: 0.875rem;
      font-weight: bold;
      column-gap: 39px;
      &__first {
        .footer__nav__company {
          margin-top: 5px;
          line-height: 1em;
          }
        .footer__nav__service {
          margin-top: 25px;
          line-height: 1em;
          }
        .footer__nav__products {
          margin-top: 25px;
          line-height: 1em;
          }
      }
      &__second {
        .footer__nav__facility {
          margin-top: 5px;
          line-height: 1em;
          }
        .footer__nav__recruit {
          margin-top: 25px;
          line-height: 1em;

          }
        .footer__nav__contact {
          margin-top: 25px;
          line-height: 1em;
          }
      }
      & span {
        display: block;
        width: 1px;
        height: 100px;
        background-color: #d4dae9;
        }
    }
  }
  .footer__copy {
    font-size: 0.75rem;
    text-align: center;
    padding-top: 88px;
    padding-bottom: 40px;
    }
}