.info {
  display: flex;
  max-width: 1920px;
  max-height: 700px;
  height: 100vh;
    margin-top: 130px;
    margin-left: 23.96%;
    margin-right: 23.96%;
    column-gap: 130px;
  &__inner {
    display: flex;
    align-items: center;
    position: relative;
  }
}
.info__company {
  display: flex;
  max-width: 470px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  background-color: #eceff7;
  justify-content: center;
  align-items: center;
  position: relative;
  &__textarea {
    color: #24386a;
    margin-left: 27px;
  }
  &__logo {
    font-size: 2.375rem;
    letter-spacing: 0.05em;
    line-height: 1;
  }
  &__text {
    margin-top: 13px;
    letter-spacing: 0.1em;
  }
}
.info__company__btn {
  display: block;
  position: absolute;
  right: 10px;
  bottom: -10px;
}
.info__service {
  display: flex;
  max-width: 470px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  background-color: #eceff7;
  justify-content: center;
  align-items: center;
  position: relative;
  &__textarea {
    color: #24386a;
    margin-left: 27px;
  }
  &__logo {
    font-size: 2.375rem;
    letter-spacing: 0.05em;
    line-height: 1;
  }
  &__text {
    margin-top: 13px;
    letter-spacing: 0.1em;
  }
}
.info__service__btn {
  display: block;
  position: absolute;
  right: 10px;
  bottom: -10px;
}
