.products__title {
  &__main {
    margin-top: 119px;
    font-size: 4.0625rem;
    background: linear-gradient(#24386a 50%, #000 50%)
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white_space:nowrap;
    }
  &__sub {
    margin-top: 22px;
    font-size: 1.125rem;
    }
  }